<form action="{% url 'rfid_create' %}" method="post" class="js-rfid-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add RFID Number</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- include partial_patient_form.html -->
        {% include 'core/rfid/partial_rfid_form.html' %} 
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>