{% extends 'base/base-no-sidebar.html' %}

{% block head_title %}Print ID Card | {{block.super}}{% endblock %}

<!-- load static files -->
{% load static %}

<!-- Dynamic CSS import -->
{% block css %}

{% endblock %}

<!-- Dynamic JS import -->
{% block js %}
    <script src="{% static 'sweetalert2-8.8.5/js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'moment-2.24.0/moment.min.js' %}"></script>
    <script src="{% static 'jsPDF-1.5.3/jspdf.min.js' %}"></script>
    <script src="{% static 'rfid/js/generate-id.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-md-12 mt-5">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <!-- <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">Text</div> -->
                        <input type="hidden" id="convention_id" value="{{convention.id}}">
                        <div class="h1 mb-1 font-weight-bold text-gray-800">{{convention}}</div>
                        <div class="h3 mt-3 text-danger">Tap card to generate ID.</div>
                    </div>
                    <div class="col-auto">
                        <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                        <i class="far fa-address-card fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}