{% extends 'generic-user-base.html' %}

{% block head_title %}Registration | {{block.super}}{% endblock %}

<!-- Dynamic CSS import -->
{% block css %}{% endblock %}

<!-- Dynamic JS import -->
{% block js %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            {% include 'snippets/messages.html' %}
            <div class="card bg-light">
                <div class="card-header font-weight-bold text-white bg-dark">{{convention}}</div>
                <div class="card-body">
                    <form class="" method="post" action="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ participant_form.lname|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ participant_form.fname|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ participant_form.mname|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ participant_form.prc_num|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ rfid_form.rfid_num|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ participant_form.birthdate|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ rfid_form.society|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-12 mb-0">
                                {{ participant_form.address|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}