<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Print Certificate</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rfid/css/print-certificate.css' %}">
</head>
<body>
    <div class="absolute">
        <span class="participant_name">{{rfid.participant.fname|title}}</span>
        {% if rfid.participant.mname %}
            <span  class="participant_name">{{rfid.participant.mname|make_list|first|upper}}.</span>
        {% endif %}
        <span  class="participant_name">{{rfid.participant.lname|title}}</span>{% if rfid.participant.occupation.initials %}, <span class="participant_name">{{rfid.participant.occupation.initials}}</span>{% endif %}
    </div>
</body>
</html>