<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Print ID</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rfid/css/print-id.css' %}">
</head>
<body>
    <div class="absolute">
        <div>
            <span style="font-size:xx-large;">{{rfid.participant.fname|upper}}</span>
            {% if rfid.participant.mname %}
                <span style="font-size:xx-large;">{{rfid.participant.mname|make_list|first|upper}}.</span>
            {% endif %}
            <span style="font-size:xx-large;">{{rfid.participant.lname|upper}}</span>
            {% if rfid.participant.occupation.initials %}
                , <span style="font-size:xx-large;">{{rfid.participant.occupation.initials}}</span>
            {% endif %}
        </div>
        <div>
            <span style="font-size:x-large;">{{rfid.participant.occupation.name}}</span>
        </div>
        <div>
            <span style="font-size:x-large;">{{rfid.participant.prc_num}}</span>
        </div>
    </div>
</body>
</html>