{% extends 'base/base-main.html' %}

{% block head_title %}Search Participant | {{block.super}}{% endblock %}

<!-- load static files -->
{% load static %}

<!-- Dynamic CSS import -->
{% block css %}
    <link rel="stylesheet" href="{% static 'dataTables-1.10.19/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables-1.10.19/responsive-2.2.2/responsive.dataTables.min.css' %}">
{% endblock %}

<!-- Dynamic JS import -->
{% block js %}
    <script src="{% static 'dataTables-1.10.19/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dataTables-1.10.19/responsive-2.2.2/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'rfid/js/participant/participant-search.js' %}"></script>
{% endblock %}

{% block content %}
<!-- <h1 class="h3 mb-2 text-gray-800">Search Participant</h1> -->
<!-- <p class="mb-4">Below is the list of unarchived Categories. To see <span class="font-weight-bolder">archived</span> list, click
  <a class="font-weight-bolder font-italic text-decoration-none" href="">
      <i class="far fa-hand-point-right"></i> here</a>.
</p> -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
        <div class="card-header py-3">
          <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->
          <div class="input-group" id="div-searchbar" >
                <input id="input-searchbar" type="text" class="form-control border border-right-0" placeholder="Search PRC No...">
                <span class="input-group-append">
                    <button id="btn-search-participant" class="btn btn-outline-primary border border-left-0" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table display responsive" id="table-convention" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Convention</th>
                        <th>Venue</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Convention</th>
                        <th>Venue</th>
                        <th>Date</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
{% endblock %}