{% extends 'base/base-convention.html' %}

{% block head_title %}{{convention}} | {{block.super}}{% endblock %}

<!-- load static files -->
{% load static %}

<!-- Dynamic CSS import -->
{% block css %}

{% endblock %}

<!-- Dynamic JS import -->
{% block js %}
    <script src="{% static 'moment-2.24.0/moment.min.js' %}"></script>
    <script src="{% static 'jsPDF-1.5.3/jspdf.min.js' %}"></script>
    <script src="{% static 'jspdf-autotable-3.1.1/jspdf.plugin.autotable.js' %}"></script>
    <script src="{% static 'rfid/js/generate-attendance.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{convention}}</h1>
    <input type="hidden" id="convention_name" value="{{convention}}">
    <button type="button" id="generate-attendance" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Attendance</button>
</div>

<div class="row">
    <div class="col-xl-6 col-md-6 mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Registered Participants</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="convention_current_date">{{convention.rfids.count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-male fa-2x text-gray-300"></i>
                        <i class="fas fa-female fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Venue</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="convention_current_date">{{convention.venue}}</div>
                    </div>
                    <div class="col-auto">
                        <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                        <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}