{% extends 'attendance-base.html' %}

{% block head_title %}{{convention.name}} | {{block.super}}{% endblock %}

<!-- load static files -->
{% load static %}

<!-- Dynamic CSS import -->
{% block css %}

{% endblock %}

<!-- Dynamic JS import -->
{% block js %}
    <script src="{% static 'sweetalert2-8.8.5/js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'moment-2.24.0/moment.min.js' %}"></script>
    <script src="{% static 'base/js/attendance/attendance.js' %}"></script>
    <script src="{% static 'jsPDF-1.5.3/jspdf.min.js' %}"></script>
    <script src="{% static 'jspdf-autotable-3.1.1/jspdf.plugin.autotable.js' %}"></script>
    <script src="{% static 'base/js/attendance/generate-attendance.js' %}"></script>
    <script>
        $(function(){
            document.addEventListener('keydown', function(event){
                if(event.keyCode==13){

                } else console.log(event.keyCode);
                
            } );
        })
    </script>
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-danger">
            Swipe card to Check-<span id="convention_check_in"></span>!
        </h1>
        <input type="hidden" id="convention_id" value="{{convention.convention_id}}">
        <input type="hidden" id="convention_name" value="{{convention.name}}">
        <input type="hidden" id="society_name" value="{{convention.society}}">
        <!-- <a href="#" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Overview -->
        <div class="col-sm-12 mb-2">
            <div class="card shadow">
                <div class="card-header py-3">
                    <!-- <h6 class="m-0 font-weight-bold text-primary">Overview</h6> -->
                    <button type="button" id="generate-attendance" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <p style="font-size: 2.5em" class="text-capitalize text-primary font-weight-bolder mb-0">{{convention.name}}</p>
                        <p style="font-size: 1.5em" class="text-capitalize text-primary font-weight-bolder">{{convention.society}}</p>
                        <!-- <p style="font-size: 2em" class="text-primary font-weight-bolder mb-0">Swipe card to check-in.</p> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- DATE -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Date</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="convention_current_date"></div>
                        </div>
                        <div class="col-auto">
                            <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                            <i class="fas fa-calendar-day fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TIME -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Time</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="convention_current_time"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-stopwatch fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- REGISTERED PARTICIPANTS -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Registered Participants</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="registered_participants"></div>
                        </div>
                        <div class="col-auto">
                            <!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> -->
                            <i class="fas fa-male fa-2x text-gray-300"></i>
                            <i class="fas fa-female fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ATTENDEES -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Attendees</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="checked_in_participants"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-male fa-2x text-gray-300"></i>
                            <i class="fas fa-female fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
{% endblock %}