<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- <div class="topbar-divider d-none d-sm-block"></div> -->

        <!-- Nav Item - User Information -->
        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="user_fullname">
                        {{request.user.first_name}} {{request.user.last_name}}
                    </span> -->

                    <div class="mr-2 d-none d-lg-inline text-gray-600 small">
                        <span id="fname_format"></span>
                        <span id="lname_format"></span>
                    </div>

                    <!-- <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"> -->
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                    <i class="fas fa-user-circle text-lg"></i>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <!-- <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Dropdown Item
                    </a> -->
                    <!-- <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Dropdown Item
                    </a> -->
                    <!-- <a class="dropdown-item" href="#" id="sweetAlert_">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Dropdown Item
                    </a>
                    <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" href="#" id="logout_alert">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link text-primary" href="{% url 'login' %}?next={{request.path}}">
                    <span class="">Login&nbsp;</span><i class="fas fa-sign-in-alt"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>