<form action="{% url 'toggle_convention_open_close' uuid=convention.convention_id %}" method="post" class="js-convention-toggle-open-close-form">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="conventionModalLabel">{{convention.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% if convention.is_open %}
        <h5>This convention is <span class="text-primary"><em>OPEN</em></span>. Click the button below to close this convention.</h5>
        {% else %}
            <h5>This convention is <span class="text-danger"><em>CLOSED</em></span>. Opening this convention will close all other conventions.</h5>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn {% if convention.is_open %}btn-danger{% else %}btn-primary{% endif %}">
            {% if convention.is_open %}
                Close
            {% else %}
                Open
            {% endif %}
        </button>
    </div>
</form>