{% extends 'base.html' %}

{% block head_title %}{{ participant.fname }} {{ participant.lname }} | {{block.super}}{% endblock %}

<!-- load static files -->
{% load static %}
<!-- {% load i18n %} -->

<!-- Dynamic CSS import -->
{% block css %}
    <link rel="stylesheet" href="{% static 'dataTables-1.10.19/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables-1.10.19/responsive-2.2.2/responsive.dataTables.min.css' %}">
{% endblock %}

<!-- Dynamic JS import -->
{% block js %}
    <script src="{% static 'dataTables-1.10.19/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dataTables-1.10.19/responsive-2.2.2/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'base/js/rfid/rfid.js'%}"></script>
{% endblock %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Participant</h1>
<p class="mb-2">To go back to participant list, click
  <a class="font-weight-bolder font-italic text-decoration-none" href="{% url 'participant_list' %}">
      <i class="far fa-hand-point-right"></i> here</a>.
</p>

<div class="row">
    <div class="col-sm-12 mb-2">
        <div class="card border-left-primary shadow py-1">
            <div class="card-body">
                <div class="row no-gutters">
                    <input type="hidden" id="participant_uuid" value="{{participant.participant_id}}">
                    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Full name</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{participant.fname}} {% if participant.mname %}{{participant.mname}} {% endif %}{{participant.lname}}</div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">PRC Number</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{participant.prc_num}}</div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Birthdate</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{participant.birthdate}}</div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Address</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{participant.address}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- col-xl-9 col-lg-8 -->
    <div class="col-sm-12">
        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <button type="button" class="btn btn-outline-primary btn-sm js-create-rfid"
                data-url="{% url 'rfid_create' %}">
                    Add RFID Number
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table display responsive" id="table-rfid" width="100%" cellspacing="0">
                        <thead>
                            <th>RFID Number</th>
                            <th>Society</th>
                            <th>Membership</th>
                            <th>Date created</th>
                            <th>Last updated</th>
                            <th>Action</th>
                        </thead>
                        <tfoot>
                            <th>RFID Number</th>
                            <th>Society</th>
                            <th>Membership</th>
                            <th>Date created</th>
                            <th>Last updated</th>
                            <th>Action</th>
                        </tfoot>
                        <tbody></tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-rfid" tabindex="-1" role="dialog" aria-labelledby="modal-rfid" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          
      </div>
  </div>
</div>
{% endblock %}